
<html>
    <head>
        <title>Blog App</title>
        <link rel ="stylesheet" type="text/css" href="/stylesheets/app.css">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class ="ui container">
                <div class="header item"><i class="columns icon"></i>PP Blog App</div>
            </div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>
            <a href="/blogs" class="item">Ex1</a>
            <a href="/blogs" class="item">Ex2</a>
            <a href="/blogs" class="item">Ex3</a>
        </div>