<%include partials/header%>

    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="https://scontent.fatl1-2.fna.fbcdn.net/v/t1.0-9/18582305_10154580625103663_6949265783901557475_n.jpg?_nc_cat=0&oh=7f217ec5269596472bc452e094493997&oe=5C29C068" alt="profile pic">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Chris Patrick</h4>
        <p>Welcome to my website! Currently, I am building my portfolio on a foundation of
        current, up-to-date coding practices. I aim to build respectful, mutual relationships
        and advance my career while advancing those that employ me. I am actively seeking my first job, and
        this website is a showcase of all the skills and research I've gained throughout my education
        and personal passion for what I am pursuing.
        </p>
      </div>
    </div>
    <div class-"row">
        <div class="col-sm-6 col-md-4 check">
            <div class="thumbnail">
              <img src="" alt="arabic root finder">
              <div class="caption">
                <h3>Arabic Root Finder App</h3>
                <p>This app is a preview of my background in Computer Science and Arabic. This app accepts an Arabic word as input, and it returns an expected rootword for output.</p>
                <p><a target ="_blank"href="https://frozen-meadow-87952.herokuapp.com/" class="btn btn-primary" role="button">Preview App!</a></p>
              </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="dog gallery">
      <div class="caption">
        <h3>Color Game App</h3>
        <p>This is a fun game/app to test one's knowledge of the RGB spectrum. Enjoy playing it!</p>
        <p><a target ="_blank" href="https://protected-crag-54583.herokuapp.com/" class="btn btn-primary" role="button">Preview App!</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="Yelp camp">
      <div class="caption">
        <h3>YelpCamp Code Along</h3>
        <p>This is the foundation app that as taught me all of my web-dev knowledge. This code along covers all web development topics. Please enjoy navigating and using a funcitonal, real world application.</p>
        <p><a target ="_blank" href="#" class="btn btn-primary" role="button">Priview App!</a> </p>
      </div>
    </div>
  </div>
    </div>



<%include partials/footer%>